<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://placehold.co/600x300" alt="">
    </div>
    <div class="big-card__title">
        <a href="#">Saiu a nova versão do Angular</a>
    </div>
    <div class="big-card__description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, sit mollitia porro odit dolorem sapiente corporis placeat iusto quidem tenetur atque! Alias esse neque nam quis quas voluptatibus, ipsum non?</p>
    </div>
</div>
