@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container__menu-bar ul{
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;

}
.container__menu-bar ul li{
    list-style: none;
    font-family: "Krona One", sans-serif;
    font-weight: 600;
}